@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.hero {
  display: flex;
  background-image: url(/resources/images/Frame\ 22.png), url(/resources/images/Frame\ 17.png), url(/resources/images/Frame\ 17.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto;
  background-position: 14% 0%, 75% 0%, 20% 90%;
    
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #092c4c;
  --secondary-color-hover: #13528d;
  --orange-color: #fc9e4f;
  --orange-color-hover: #e07d2b;
}

a {
  text-decoration: none;
  color: var(--orange-color);
}
a:hover {
  color: var(--orange-color-hover);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5% 0;
}

.login {
  width: 70%;
  display: flex;
  box-shadow: 0px 2.97201px 26.7481px rgba(0, 0, 0, 0.1);
}

.left {
  width: 40%;
  background-color: #092c4c;
  background-image: url(../../../resources/images/login-img.png);
  background-position: fixed;
  background-size: cover;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  text-align: center;
  color: var(--primary-color);

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.left h2 {
  font-weight: 800;
}

.left p {
  font-weight: 600;
  margin: 5% 0;
}

p.dash {
  width: 30%;
  margin: 0;
  border-bottom: 5px solid var(--primary-color);
}

.left img {
  width: 100%;
}

.image-text-2 {
  position: absolute;
  top: 50%;
  width: 50%;
}

.right {
  width: 60%;
  padding: 5%;  
}

.right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form-title {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  margin-bottom: 7%;
}

.form-content {
  background: var(--primary-color);
  box-shadow: 0px 2.97201px 26.7481px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  color: var(--secondary-color);
  width: 100%;
  padding: 5%;
}

.form-control input {
  width: 100%;
  padding: 2%;
  font-size: 20px;
  background: #f4f4f4;
  border-radius: 5px;
  border: 2px solid #f4f4f4;
  margin-top: 1%;
}

.form-control.success input {
  border-color: #09c372;
}

.form-control.error input {
  border-color: #ff3860;
}

.form-control .error {
  color: #ff3860;
  padding-top: 4px;
  font-size: 11px;
  height: 13px;
}
.form-control input:focus {
  outline: none;
}

.form-label {
  font-weight: 400;
  font-size: 18px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  margin-bottom: 50px;
  white-space: nowrap;
}
.remember-group {
  display: inline-flex;
  gap: 7px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 11px;
  flex-wrap: wrap;
  flex-wrap: nowrap;
}
.button {
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 2%;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}
.login-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
}
.login-button:hover {
  background-color: var(--secondary-color-hover);
}
.google-button {
  border: 1.33685px solid var(--orange-color);
  color: var(--orange-color);
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}
.google-button:hover {
  background-color: var(--orange-color);
  color: var(--primary-color);
}
.google-button img {
  width: 20px;
  height: 20px;
}
.options {
  margin-top: 30px;
  text-align: center;
}
.options p {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.options .sign-up {
  color: var(--orange-color);
}
.options .sign-up:hover {
  color: var(--orange-color-hover);
}

.remember-forgot, .options p {
  font-size: 16px;
}


@media screen and (max-width: 1190px) {
  .button {
    font-size: 14px;
  }
}

@media screen and (max-width: 1103px) {
  .button {
    font-size: 13px;
  }
}

@media screen and (max-width: 1000px) {
  .button {
    font-size: 12px;
  }

  .form-title {
    font-size: 20px;
  }

  .remember-forgot, .options p,  .form-label {
    font-size: 15px;
  }

  .form-control input {
    font-size: 17px;
  }
}

@media screen and (max-width: 940px) {
  .button {
    font-size: 15px;
  }

  .button-group {
    flex-wrap: wrap;
  }

  .form-title {
    font-size: 20px;
  }

  .remember-forgot, .options p,  .form-label {
    font-size: 13px;
  }

  .form-control input {
    font-size: 15px;
  }
}


@media screen and (max-width: 750px) {
  .left {
    display: none;
  }
  
  .right {
    width: 100%;
  
    background-image: url(../../../resources/images/login-img.png);
    background-position: fixed;
    background-size: cover;
  }
  
  .login {
    width: 100%;
  }
  
  .right-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  
    box-shadow: 0px 2.97201px 26.7481px rgba(0, 0, 0, 0.1);
  }
  
  
  main {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .button {
    font-size: 15px;
  }

  .button-group {
    flex-wrap: wrap;
  }

  .form-title {
    font-size: 20px;
  }

  .remember-forgot, .options p,  .form-label {
    font-size: 13px;
  }

  .form-control input {
    font-size: 15px;
  }
}

