@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #092C4C;
    --orange: #FC9E4F;
    --black: #262525;
}

body  {
    font-family: 'Inter', sans-serif;
    width: 100%;
}

main {
    background-image: url(../../../resources/images/image\ 3.png), url(../../../resources/images/image\ 3.png), url(../../../resources/images/Frame\ 22.png), url(../../../resources/images/Frame\ 22.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: fixed, fixed, fixed, fixed;
    background-position: 70% 90%, 85% 85%, 10% 3%, 90% 0;
}

h1 {
    color: var(--orange);
    font-size: 45px;
}

.h-content h3 {
    font-size: 25px;
    color: var(--black);
    margin-top: 2%;
}

section {
    text-align: center;
    padding: 3% 5%;;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-content {
    width: 60%;
    text-align: center;
}

.name-form {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.name-form:nth-child(2) {
    margin-top: 5%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 80%;
}

.left, .right {
    display: flex;
    flex-direction: column;
}

.left {
    width: 55%;
}

.right {
    width: 40%;
}

label {
    margin: 5px 0;
    color: var(--blue);
}

.box {
    padding: 10px;
    outline: none;
    border: 1px solid var(--orange);
    border-radius: 5px;
    font-size: 20px;
    /* height: 400%; */
    width: 100%;
    color: var(--black);
}

.message {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* width: 100%; */
    margin-top: 5%;
}

textarea {
    /* height: 500px; */
    width: 100%;
}

.btn {
    padding: 6px 15px;
    /* border: 1px solid var(--orange); */
    border-radius: 5px;
    border: 0;
    background-color: var(--orange);
    color: var(--blue);
    cursor: pointer;
    /* font: 40%; */

}

.box-2 {
    height: 150px;
    width: 100%;
}

@media screen and (max-width: 890px) {
    .h-content {
        width: 80%;
    }
}

@media screen and (max-width: 790px) {
    h1 {
        font-size: 35px;
    }

    .h-content h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 640px) {
    .h-content {
        width: 100%;
    }

    h1 {
        font-size: 30px;
    }

    .h-content h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .name-form {
        flex-wrap: wrap;
        gap: 10px;
    }

    .left, .right {
        width: 100%;
    }

    .box {
        padding: 10px;
        font-size: 15px;
    }

}

@media screen and (max-width: 430px) {
    h1 {
        font-size: 25px;
    }

    .h-content h3 {
        font-size: 16px;
    }
}