@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #092C4C;
    --orange: #FC9E4F;
    --black: #262525;
}

body  {
    font-family: 'Inter', sans-serif;
}

h1 {
    color: var(--orange);
    font-size: 45px;
}

.h-content h3 {
    font-size: 25px;
    color: var(--black);
    margin-top: 2%;
}

section {
    text-align: center;
    padding: 3% 5%;;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-content {
    width: 60%;
    text-align: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3%;
    width: 80%;
    /* padding: 3% 40%; */
}

.images-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 22%;
    text-align: center;
    color: var(--black);
    margin-top: 3%;
}

.card img {
    width: 100%;
}

@media screen and (max-width: 890px) {
    .h-content {
        width: 80%;
    }
}

@media screen and (max-width: 790px) {

    .card {
        width: 29%;
    }

    h1 {
        font-size: 35px;
    }

    .h-content h3 {
        font-size: 20px;
    }

    .text h3 {
        font-size: 18px;
    }

    .text p {
        font-size: 15px;
    }
}

@media screen and (max-width: 640px) {
    .h-content {
        width: 100%;
    }
    .card {
        width: 29%;
    }

    h1 {
        font-size: 30px;
    }

    .h-content h3 {
        font-size: 18px;
    }

    .text h3 {
        font-size: 15px;
    }

    .text p {
        font-size: 15px;
    }
}

@media screen and (max-width: 560px) {
    /* .card {
        width: 40%;
    } */

    .images {
        width: 100%;
    }
}

@media screen and (max-width: 430px) {
    .card {
        width: 40%;
    }

    h1 {
        font-size: 25px;
    }

    .h-content h3 {
        font-size: 16px;
    }

    .text h3 {
        font-size: 14px;
    }

    .text p {
        font-size: 14px;
    }
}