@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --blue: #092C4C;
  --orange: #FC9E4F;
  --black: #262525;
}

body  {
  font-family: 'Inter', sans-serif;
  width: 100%;
}

main {
  background-image: url(../../../resources/images/image\ 3.png), url(../../../resources/images/image\ 3.png), url(../../../resources/images/Frame\ 22.png), url(../../../resources/images/Frame\ 22.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: fixed, fixed, fixed, fixed;
  background-position: 10% 90%, 90% 85%, 10% 3%, 90% 0;
}

.hero {
  display: grid;
  width: 100%;
  margin: auto;
}

h1 {
  color: var(--orange);
  font-size: 45px;
}

.h-content h3 {
  font-size: 25px;
  color: var(--black);
  margin-top: 2%;
}

section {
  /* text-align: center; */
  padding: 3% 5%;;
}

.faq_section_1 {  
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-content {
  width: 60%;
  text-align: center;
}

.faq_section_2 {
  display: grid;
  grid-template-rows: 1fr;
  width: 65%;
  margin: auto;
  padding: 0 0 20px 0;
}

/* .faq_section_2:hover {
  width: 62%; */
  /* transition: width 2s ease-in-out;
} */

.faq_section_2 details {
  border: 1px solid #fc9e4f;
  border-bottom: none;
  margin: 8px;
  border-radius: 5px;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.2);
}

.faq_section_2 summary {
  font-size: 20px;
  color: #262525;
  cursor: pointer;
  padding: 8px;
  font-weight: 550;
}

summary {  
  /* background-color: #FC9E4F; */
}

.faq_section_2 article {
  text-align: justify;
  padding: 2%;
  font-size: 18px;
}

/* .dropbtn {
  text-align: center;
  margin: auto;
  color: #262525;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
}

.dropdown-content:hover {
  width: 100%;
}

.dropdown:hover {
  width: 60%;
  transition: width 2s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: relative;
} */
@media screen and (max-width: 640px) {
  .faq_section_2 {
    width: 80%;
    padding-bottom: 0;
  }
  /* .faq_section_2:hover {
    width: 82%;
  } */
  /* .faq_section_2 summary, .faq_section_3 p, .faq_section_2 article {
    font-size: 2.2vw;
  } */
  /* .faq_section_3 p {
    padding: 0;
  }
  .dropbtn{
    font-size: 2.2vw;
  }
  .dropdown {
    width: 70%;
  }
  .dropdown:hover {
    width: 80%;
  }
  .dropdown-content {
    width: 100%;
  }
  .dropdown-content:hover {
    width: 100%;
  } */
}


@media screen and (max-width: 890px) {
  .h-content {
      width: 80%;
  }
}

@media screen and (max-width: 750px) {
  .faq_section_2 summary {
    font-size: 18px;
  }
  
  .faq_section_2 article {
    font-size: 16px;
  }
}

@media screen and (max-width: 790px) {
  h1 {
      font-size: 35px;
  }

  .h-content h3 {
      font-size: 20px;
  }
}

@media screen and (max-width: 640px) {
  .h-content {
      width: 100%;
  }

  h1 {
      font-size: 30px;
  }

  .h-content h3 {
      font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .faq_section_2 summary {
    font-size: 15px;
  }
  
  .faq_section_2 article {
    font-size: 14px;
  }
}

@media screen and (max-width: 430px) {
  h1 {
      font-size: 25px;
  }

  .faq_section_2 {
    width: 98%;
  }

  .h-content h3 {
      font-size: 16px;
  }

  .faq_section_2 summary {
    font-size: 14px;
    font-weight: 500;
  }
  
  .faq_section_2 article {
    font-size: 13px;
  }
}
