@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    background-color: var(--white);
}

:root {
    --white: #f5f7f8;
    --blue: #092C4C;
    --orange: #FC9E4F;
    --black: #262525;
}

header {
    padding: 1% 4%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    align-items: center;
}

.logo img {
    width: 60%;
}

.pri-btn {
    padding: 4px 6px;
    border-radius: 5px;
    border: 1px solid var(--orange);
    font-size: 1em;
    font-weight: 600;
    color: var(--blue);
    cursor: pointer;
}

.pri-btn:hover {
    border: 1px solid var(--blue);
    font-size: 1em;
    font-weight: 600;
    color: var(--orange);
    background-color: var(--blue);
    cursor: pointer;
}

.pri-btn-2 {
    font-size: 1em;
    font-weight: 600;
    color: var(--blue);
    cursor: pointer;
    margin-left: 10px;
}

.pri-btn-2:hover {
    color: var(--orange);
}

a {
    text-decoration: none;
}

.prf {
    display: inline-flex;
    align-items: center;
}

.fa-circle-user {
    font-size: 2em;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.dashboard-menu {
    width: 20%;
    background-color: var(--white);
    border-right: 5px solid #eeeeee;
}

.dashboard {
    width: 80%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}



.dash {
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 30px;
    color: var(--blue);
    background-color: var(--orange);
    border: 0;
    outline: none;
    cursor: pointer;
    display: flex;
    gap: 5%;
}

.up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12%;
}

.dash-link {
    height: 100%;
    padding: 5%;
}

li {
    list-style: none;
}

.d-link a {
    text-decoration: none;
    color: var(--blue);
}

.d-link a:hover {
    color: var(--orange);
}

.d-link li {
    margin: 10% 0;
    font-size: large;
    font-weight: 600;
}

.d-link li:nth-child(1) {
    padding-bottom: 3%;
    border-bottom: 1px solid var(--orange);
}



label, .download-text {
    color: var(--blue);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1%;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
}

.form-left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.box {
    outline: none;
    border: 1px solid var(--orange);
    border-radius: 5px;
    padding: 1%;
    font-size: 20px;
    width: 100%;
}

.form-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.generate {
    background-color: #eeeeee;
    width: 100%;
    padding: 5% 0;
}

.btn-1 {
    padding: 5px 9px;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    color: var(--orange);
    cursor: pointer;
    background-color: var(--blue);
}

.btn-1:hover {
    background-color: var(--orange);
    color: var(--blue);
}

.btn-2 {
    padding: 5px 9px;
    border-radius: 5px;
    border: 1px solid var(--orange);
    outline: none;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    color: var(--blue);
}

.btn-2:hover {
    background-color: var(--orange);
    color: var(--blue);
}

.output {
    padding: 7% 0;
    background-color: white;
    
}

.code {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.gen-qr {
    width: 15%;
}

.download {
    width: 30%;
}

.gen-qr img {
    width: 100%;
}

.download-text {
    padding: 2%;
    background-color: var(--orange);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.download-btn {
    padding: 0 2%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--orange);
    margin-top: -1.5%;
}

.btn-link {
    padding: 2%;
    background-color: #fdeaea;
    border-radius: 5px;
    font-weight: 600;
    color: var(--blue)
}

.btn-list {
    margin: 5% 0;
}

.btn-link span {
    display: none;
}

.btn-link:hover span {
    display: inline-block;
}

@media screen and (max-width: 880px) {
    .d-link a {
        font-size: 16px;
    }

    .dash {
        font-size: 16px;
        padding: 10px 15px;
    }

    label, .download-text {
        font-size: 18px;
    }

    .btn-link span {
        display: inline-block;
    }

    .gen-qr {
        width: 20%;
    }
    
}

@media screen and (max-width: 782px) {
    .d-link a {
        font-size: 14px;
    }

    .dash {
        font-size: 16px;
        padding: 10px 15px;
    }

    label, .download-text {
        font-size: 16px;
    }

    .btn-link span {
        display: inline-block;
    }

    .gen-qr {
        width: 20%;
    }

    .box {
        font-size: 18px;
    }
    
}

@media screen and (max-width: 682px) {
    .d-link a {
        font-size: 20px;
    }
/* 
    .dash {
        font-size: 16px;
        padding: 10px 15px;
    }

    label, .download-text {
        font-size: 16px;
    }

    .btn-link span {
        display: inline-block;
    }

    .gen-qr {
        width: 20%;
    } */
    
    .span-1 {
        display: none;
    }

    .dash-link {
        text-align: center;
    }

    .dashboard-menu {
        width: 20%;
    }

    .dashboard {
        width: 80%;
    }

    .btn-1, .btn-2 {
        font-size: 14px;
    }

    .box {
        font-size: 16px;
    }

    .pri-btn {
        font-size: 15px;
    }

    .pri-btn-2 {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .gen-qr {
        width: 25%;
    }
    
}

@media screen and (max-width: 555px) {
    .code {
        flex-wrap: wrap;
    }

    .gen-qr {
        width: 100%;
        text-align: center;
    }

    .gen-qr img {
        width: 70%;
        mix-blend-mode: color-burn;
    }

    .download {
        width: 90%;
        margin-top: 8%;
    }

    .download-btn ul {
        text-align: center;
    }

    .form {
        flex-wrap: wrap;
    }

    .form-left {
        width: 90%;
    }

    .form-right {
        width: 90%;
        flex-direction: row;
        margin-top: 2%;
    }
    
    .box {
        font-size: 15px;
        padding: 2%;
    }

    .d-link li {
        margin: 25% 0;
    }
}