@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #092C4C;
    --orange: #FC9E4F;
    --black: #262525;
}

body {
    width: 100%;
    font-family: 'Inter', sans-serif;
    /* font-size: 13px; */
}

header {
    padding: 3% 5%;
    height: 200px;
    background-image: url(/resources/images/hero-header-bck.png);
    background-position: 73% 0px;
    background-size: 77%;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    /* grid-template-columns: 15% 75% 15%; */
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 80%;
    cursor: pointer;
}

.nav-menu {
    width: 50%;
    text-align: center;
}

.nav-mobile {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--blue);
    padding: 25px;
    direction: rtl;
    top: 0;
    right: 100%;
    margin-top: 64px;
    transition: 0.4s;
}

.nav-mobile.is-active{
    right: 0;
}

.nav-mobile a {
    display: block;
    margin: 10px 0;
}

nav a {
    margin: 0 3%;
    padding: 1% 0;
    /* border-bottom: 2px solid var(--orange); */
    color: white;
}

.nav-menu a:hover {
    border-bottom: 2px solid var(--orange);
}

.nav-mobile a:hover {
    color: var(--orange);
}

a {
    text-decoration: none;
    font-weight: 400;
}

.reg a {
    color: var(--blue);
    margin: 5px;
}

.btn-header {
    padding: 6px 9px;
    border: 1px solid var(--orange);
    border-radius: 5px;
}


/* mobile menu */
.hamburger {
    position: relative;
    width: 30px;
    cursor: pointer;
    /* display: block; */
    display: none;
}

.bar, .hamburger::before, .hamburger::after {
    width: 100%;
    height: 4px;
    background-color: var(--orange);
    margin: 6px 0;
    content: '';
    display: block;
    transition: 0.4s;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -6px);
}

.nav-mobile .btn-header {
    text-align: center;
    color: white;
    width: 30%;
}


/* FOOTER */
footer {
    padding: 3% 5%;
    border-radius: 5px;
    background-color: var(--blue);
}

li {
    list-style: none;
}

.footer1 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    color: white;
    width: 80%;

    background-image: url(/resources/images/image\ 3.png);
    background-repeat: no-repeat;
    background-position: 60% 85%;
}

.footer1 a {
    color: white;
}

.col1 {
    align-self: flex-end;
}

.footer1 h3 {
    margin-bottom: 25px;
}

.col1 a {
    margin: 5px;
}

.col1 img {
    width: 10%;
}

hr {
    margin: 20px 0;
}

.footer2 {
    color: white;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    nav a {
        margin: 0 2%;
        padding: 1% 0;
        /* border-bottom: 2px solid var(--orange); */
        color: white;
    }

    header {
        height: 180px;        
        padding: 1% 5%;
        background-position: 82% 0px;
        background-size: 82%;
    }
}

@media screen and (max-width: 900px) {
    header {
        height: 150px;        
    }
}

@media screen and (max-width: 854px) {
    .footer1 {
        width: 100%;
    }

    .col {
        width: 25%;
    }

    .footer1 h3 {
        margin-bottom: 18px;
    }

    .reg-2 {
        display: none;
    }
    .nav-menu {
        display: none;
    }


    .hamburger {
        display: block;
    }



}

@media screen and (max-width: 610px) {
    .footer1 {
        flex-wrap: wrap;
        gap: 40px;
    }

    .col {
        width: 45%;
    }

    .col1 {
        order: 4;
    }

    .col h3, .footer-content {
        font-size: 13px;
    }

    /* .footer-content {
        font-weight: 200;
    } */

    .footer2 {
        font-size: 13px;
    }
}

@media screen and (max-width: 500px) {
    header {
        padding: 3% 5%;
        height: 100px;
        background-position: 90% 0px;
        background-size: 60%;
    }
}

@media screen and (max-width: 465px) {
    
    .col {
        width: 40%;
    }

    .col1 {
        align-self: flex-start;
    }

    .col1 a {
        margin: 2px;
    }
    
    .col1 img {
        width: 20%;
    }
}