@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #092C4C;
    --orange: #FC9E4F;
    --black: #262525;
}

body {
    width: 100%;
    font-family: 'Inter', sans-serif;
}

header {
    padding: 3% 5%;
    height: 200px;
    background-image: url(/resources/images/hero-header-bck.png);
    background-position: -200% 60%;
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 80%;
    cursor: pointer;
}

nav {
    width: 50%;
    text-align: center;
}

nav a {
    margin: 0 4%;
    padding: 1% 0;
    /* border-bottom: 2px solid var(--orange); */
    color: white;
}

a {
    text-decoration: none;
    font-weight: 400;
}

.reg a {
    color: var(--blue);
    margin: 5px;
}

.btn-header {
    padding: 6px 9px;
    border: 1px solid var(--orange);
    border-radius: 5px;
}


/* FOOTER */
footer {
    padding: 3% 5%;
    border-radius: 5px;
    background-color: var(--blue);
}

.footer1 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}